@model SuperheroCreator.Models.Superhero

@{
    ViewBag.Title = "Superhero Creator";
}
<body class="text-center">
    <h1 class="cover-heading">Welcom to Superhero Creator!</h1>
    <p class="lead">Create, Read, Update, and Delete your favorite Superheroes!</p>
    <p class="lead">
        <button href="Superheroes/Create" class="btn btn-lg btn-secondary">Create a Superhero!</button>
    </p>
    <img src="SuchConfidence.jpg"/>
</body>
